[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pyprojroot = "*"
pandas = "*"
isssm = {file = "../../packages/isssm", editable = true}

[dev-packages]
jupyter = "*"
nbdev = "*"

[requires]
python_version = "3.10"
